@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and  (min-width: 1024px){
    .home-effect {
        background: linear-gradient(75deg, rgba(255,180,0,1) 26%, rgba(0,0,0,0) 26%);
    }
}
  
button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid orange;
  border-radius: 9999px; /* makes the button fully rounded */
}

button .bg-overlay {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  background: orange;
  z-index: -1;
  transition: left 0.6s ease-in-out, right 0.5s ease-in-out;
}

button:hover .bg-overlay {
  left: 0;
  right: 0;
}

button:hover {
  color: white;
}


.loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #C5C7D4;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: orange;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}

/* Add this to your CSS file (e.g., App.css) */
.no-scroll {
  overflow: hidden;
}

@keyframes lineMove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 20px;
  }
}

.animate-line-move {
  animation: lineMove 1.0s linear infinite;
}

